body{
    background-color: lightgray;
    text-align: center
}
main{
    display: grid;
    justify-content: center;
    gap: 40px
}
img{
    width: 250px;
    padding: 30px;
    background-color: gray;
    border: 10px blue solid;

}